@font-face {
    src: url('fonts/ir_sans.ttf');
    font-family: 'iransans';
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    direction: rtl;
    font-family: iransans;
    font-size: 16px;
    background-color: #ddd;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: white;
    color: black;
    border: none;
}

#main {
    width: 450px;
    margin: 100px auto;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px #666;
    overflow: hidden;
    text-align: center;
}

#topButton {
    padding-right: 55px;
}

#main li a {
    background-color: #D9D7F1;
    float: right;
    width: 150px;
    padding: 8px 10px;
    margin: 15px 0;
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

#main li a:hover {
    background-color: rgba(83, 62, 133 , 0.7);
}

#topButton::after {
    content: "";
    clear: both;
    display: block;
}

#main ::placeholder {
    color: #999;
    /* opacity: ; */
}

#main h2 {
    color: #555;
    margin: 20px;
}

#main input {
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 20px 5px;
    width: 90%;
    box-shadow: 0 0 3px #888 inset;
}

#signup input[type="text"] {
    width: calc(45% - 8px);
}

#signup button,
#login button {
    background-color: #533E85;
    color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.alt-message{
    padding: 0 30px;
    text-align: justify;
    color: red;
    font-size: 12px;
    line-height: 200%;
}

.hidden {
    display: none;
}

.bck-green {
    background-color: #533E85 !important;
}